<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row">
  <h3 class="center">Sign Up Or Login</h3>
  <div class="col s4 offset-s4">
    <div class="card">
      <form ng-submit="create()">
        <div class="input-field">
          <input type="text" name="name" ng-model="user.name" id="name">
          <label for="name">Your Name</label>
        </div>
        <div class="input-field">
          <input type="submit" class="btn blue" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>