<nav>
  <div class="nav-wrapper grey darken-1">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!/dashboard" style="font-size: large">Go to Polls</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <h4>{{poll.question}}</h4>
  <p>Click the 'Vote' button to choose one</p>
</div>
<div class="row">
  <div class="card col s5">
    <table class="striped centered">
      <thead>
      <tr>
        <th data-field="name">Option</th>
        <th data-field="survey">Current Count of Votes</th>
        <th data-field="action">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td ng-bind="poll.option1"></td>
        <td ng-bind="poll.count1"></td>
        <td><button ng-click="vote(poll, 1)" class="btn blue">Vote</button></td>
      </tr>
      <tr>
        <td ng-bind="poll.option2"></td>
        <td ng-bind="poll.count2"></td>
        <td><button ng-click="vote(poll, 2)" class="btn blue">Vote</button></td>
      </tr>
      <tr>
        <td ng-bind="poll.option3"></td>
        <td ng-bind="poll.count3"></td>
        <td><button ng-click="vote(poll, 3)" class="btn blue">Vote</button></td>
      </tr>
      <tr>
        <td ng-bind="poll.option4"></td>
        <td ng-bind="poll.count4"></td>
        <td><button ng-click="vote(poll, 4)" class="btn blue">Vote</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>